<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" md="5" sm="8" class="mx-auto">
    <v-card class="mx-auto">
      <v-col cols="12" class="text-center">
        <img alt="UNI" src="../assets/uni-logo-white.png" height=200>
        
        <h1>Welcome to UNI</h1>
        <h5>Universal Unified Unity</h5>
        <br>
        <v-alert border="left" colored-border color="blue" elevation="2">
          A free money for a free society
        </v-alert>

        <br>
        <v-btn to="/about"    color="blue lighten-1" style="width:100%">
          <v-icon>mdi-information</v-icon> Know more
        </v-btn>

        <br><br>
        <v-btn to="/init" color="primary" style="width:100%">
          <v-icon>mdi-arrow-decision-outline</v-icon> Enter network
        </v-btn>

        <br><br>
        <v-btn to="/boot-node" color="secondary" style="width:100%">
          <v-icon>mdi-arrow-decision-outline</v-icon> Boot a new node
        </v-btn>

        <!-- <v-btn to="/register" color="primary" style="width:100%">
          <v-icon>mdi-account-plus</v-icon> Register
        </v-btn>
        <br><br>
        <v-btn to="/login"    color="secondary" style="width:100%">
          <v-icon>mdi-login</v-icon> Login
        </v-btn> -->
<!--         
        <div v-if="showBootInstance">
          <br><br><hr><br>
          <h2>Boot instance</h2>
          <v-card-subtitle>
                Clear all data from data base, and setup a new instance ready for new tests
          </v-card-subtitle>
          <v-form @submit.prevent="rebootInstance">
            <v-text-field filled v-model="rebootInstanceName" id="name" label="Instance's name ?"></v-text-field>
          </v-form>
          <v-btn class="white--text" color="orange lighten-2"  @click="rebootInstance" style="min-width:100%">
            <v-icon>mdi-check</v-icon> Reboot
          </v-btn>
        </div> -->
      </v-col>
    </v-card>
  </v-col>

</v-row>
</div>
</template>

<script>

import axios from 'axios'
import router from '../router/router'

export default {
  name: 'home',
  components: {
  },
  data:() => ({
    rebootInstanceName: '',
    user: null,
    instance: null
  }),
  async mounted(){
      if(localStorage.getItem("user_name") != null)
        this.updateDataProfile()
        
      this.updateDataInstance()
  },
  methods: {
    async updateDataProfile(){
      try{
        axios.get('/user/profil')
                        .then( res => {
                            console.log("res /user/profil", res)
                            this.user = res.data.user
                        }).catch(res =>{

                          console.log("error /user/profil", res)
                        })
      }catch(e){
        console.log("error /user/profil", e)
        //router.push('/');
      }
    },
    async updateDataInstance(){    
      try{
        axios.get('/instance/exists')
                        .then( res => {
                            console.log("res /instance/exists", res)
                            //var user = res.data.user
                            this.instance = res.data.instance
                        })
      }catch(e){
        console.log("error /instance/exists", e)
        this.instance = false
      }
    },
    async rebootInstance(){
        try{
            await axios.get('/instance/init?name='+this.rebootInstanceName,)
                            .then(res => {
                                console.log("success from /instance/init?name="+this.rebootInstanceName, res.data.instance)
                                this.instance = res.data.instance
                                localStorage.setItem('access_token', res.data.admin_access_token)
                                setTimeout(function(){ 
                                  router.push('/profile') }, 1500)
                            })
        }catch(e){
            router.push('/admin');
        }
    },
  },
  computed: {
      /*showBootInstance: function(){
          return (this.user != null && this.user.isAdmin) || this.instance == false
      },*/
  },
}
</script>
