<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" md="7" sm="8" class="mx-auto">
    <v-card class="mx-auto">
      <v-col cols="12" class="text-center">
        <img alt="UNI" src="../assets/uni-logo-white.png" height=200>
        <h2>Enter the network</h2><br>
          
        <v-alert border="top" colored-border color="blue" elevation="2">
          <small>Unimony is a decentralised monetary system, based on multiple nodes working together.</small><br><br>
          The first step to start using Unimony is to select the node you want to connect !<br>...<br>
          <small>The best choice is always to connect the nearest node of your living location, to optimise network performances...</small><br><br>
          
        </v-alert>
        <br>

        <l-map ref="nodeMap"  :zoom="zoom"  :maxZoom="11" :center="mapCenter"  
                style="width:100%;height:200px; margin-bottom:15px; border-radius:15px; z-index:2" 
                >
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-marker v-for="(instance, i) in network" :key='i' :lat-lng="[instance.lat, instance.lng]">
              <l-popup class="text-center" open="true">
                <h2>
                  <v-icon color="black">mdi-arrow-decision-outline</v-icon> 
                  {{ instance.name }} - <small>{{ instance.city }} {{ instance.state }}</small>
                </h2><br>
                <v-btn color="blue" style="width:100%" @click="saveBaseUrl(instance)">
                    <v-icon>mdi-check</v-icon> Select this node
                </v-btn>
              </l-popup>
            </l-marker>
        </l-map>
        
      </v-col>
    </v-card>
    <br>
    
    <!-- <v-switch v-model="showMap" class="ma-2" color="green" label="Show on map"></v-switch> -->



    <v-card class="mx-auto">
          
        <v-list>            
            <v-list-item-group clickable color="primary">
                <v-list-item
                v-for="(item, i) in network"
                :key="i"
                :value="item.uid"
                v-model="instanceInit"
                @click="saveBaseUrl(item)"
                >
                    <v-list-item-icon>
                        <v-icon>mdi-arrow-decision-outline</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-weight:200; font-size:18px" 
                                            v-text="item.name">
                        </v-list-item-title>
                        <small><small style="font-weight:200">{{ item.url }}:{{ item.port }}</small></small>
                        <small><small style="font-weight:200">
                            {{ item.nbUserGlobal }} users - {{ item.city }} - {{ item.state }}
                        </small></small>
                    </v-list-item-content>
  
                </v-list-item>

            </v-list-item-group>
        </v-list>
                
    </v-card>
   
   <br>

    <v-card>
      <v-col>
        <v-btn @click="forgetAll"    color="red lighten-1" style="width:100%">
          <v-icon>mdi-delete-circle-outline</v-icon> Clear local storage
        </v-btn>
        <br><br>
        
        <v-btn @click="initNetwork"    color="orange lighten-1" style="width:100%">
          <v-icon>mdi-reload</v-icon> Reload network
        </v-btn>
        
      </v-col>
    </v-card>

  </v-col>

</v-row>
</div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";
</style>


<script>

import axios from 'axios'
import router from '../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

export default {
  name: 'home',
  components: { LMap, LTileLayer, LMarker, LPopup },
  data:() => ({
    rebootInstanceName: '',
    user: null,
    instance: null,
    network: [],
    instanceInit: null,
    nodeUrl: 'http://localhost',
    nodePort: '3000',
    nodeName: '',
    nodeExists: null,
    nodeInited: null,

    showMap: false,
    zoom:5,
    mapCenter: L.latLng(47.413220, -1.219482),
    url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
    attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    popupContent: "ok",
  }),
  async mounted(){
    delete L.Icon.Default.prototype._getIconUrl  
    L.Icon.Default.mergeOptions({  
      iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
      iconUrl: require('leaflet/dist/images/marker-icon.png'),  
      shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
    })
    
    this.initNetwork()
  },
  methods: {
    async initNetwork(){
      try{
         //axios.defaults.baseURL = process.env.VUE_APP_MASTER_NODE_URL + ":" + process.env.VUE_APP_MASTER_NODE_PORT
         axios.get('/instance/get-network')
              .then( res => {
                  console.log("res /instance/get-network", res)
                  this.network = res.data.network
                  localStorage.setItem("network", JSON.stringify(this.network))
              }).catch(res =>{
                console.log("error /instance/get-network", res)
              })
      }catch(e){
        console.log("error /user/profil", e)
        //router.push('/');
      }
    },
    async saveBaseUrl(item){
      console.log("this.instanceInit", item.url+":"+item.port)
      await localStorage.setItem("baseUrl", item.url+":"+item.port)
      await localStorage.setItem("url", item.url)
      await localStorage.setItem("port", item.port)
      await localStorage.setItem("portSocket", item.portSocket)
      await localStorage.setItem("name", item.name)

      axios.defaults.baseURL = item.url+":"+item.port
      this.$root.$emit('setBaseUrl', item.url+":"+item.port, item.name);
      router.push('/register');
    },
    bootNode(){
      try{
         let baseUrl = this.nodeUrl + ":" + this.nodePort
         axios.defaults.baseURL = baseUrl
         axios.get('/instance/exists')
              .then( res => {
                  console.log("res /instance/exists", res.data)
                  this.nodeExists = !res.data.error
                  if(this.nodeExists){
                    this.nodeInited = res.data.instance
                    if(this.nodeInited == false){
                      this.initNode()
                    }else{
                      //zerzer
                    }
                  }else{
                    this.nodeInited = null
                    console.log("inited ?", this.nodeInited)
                  }
                  //if(this.nodeInited == false)
              }).catch(res =>{
                console.log("error 1 /instance/exists", res)
                this.nodeExists = false
                this.nodeInited = null
              })
      }catch(e){
        console.log("error 2 /instance/exists", e)
        this.nodeExists = false
        this.nodeInited = null
        //router.push('/');
      }
    },
    initNode(){
      try{
          //baseUrl = this.nodeUrl + ":" + this.nodePort
          //axios.defaults.baseURL = baseUrl // "http://localhost:3000"
          axios.post('/instance/init', {
              name: this.nodeName,
              url: this.nodeUrl,
              port: this.nodePort
          })
              .then( res => {
                  console.log("res /instance/init", res.data)
                  if(!res.data.error){
                    router.push('/')
                  }else{
                    
                    console.log("inited ?", this.nodeInited)
                  }
                  //if(this.nodeInited == false)
              }).catch(res => {
                console.log("error 1 /instance/init", res)
              })
      }catch(e){
        console.log("error 2 /instance/init", e)
        //router.push('/');
      }
    },
    async forgetAll(){
      await localStorage.setItem("baseUrl", "")
      await localStorage.setItem("url", "")
      await localStorage.setItem("port", "")
    }
  },
  computed: {
      showBootInstance: function(){
          return (this.user != null && this.user.isAdmin) || this.instance == false
      },
  },
}
</script>
