<template>
  <v-card class="mx-auto">

    <v-col cols="12">
      <v-card-title>Login</v-card-title> 
      <!-- <v-card-subtitle>Connect your account to send and manage your money</v-card-subtitle> -->
      <v-form @submit.prevent="login">
        <v-text-field filled v-model="email" id="email" label="Email"></v-text-field>
        <v-text-field filled v-model="password" id="password" label="Password"
                      :append-icon="showpwd ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showpwd ? 'text' : 'password'"
                      @click:append="showpwd = !showpwd"
        ></v-text-field>
        <br>
        <v-btn class="white--text" color="secondary" @click="login" style="min-width:100%">
          <v-icon>mdi-login</v-icon> Login
        </v-btn>
      </v-form>
      <v-card-subtitle v-if="resMsg != ''" :class="resColor">{{ resMsg }}</v-card-subtitle>
    </v-col>
      
  </v-card>
</template>

<script>

import router from '../router/router'
import axios from 'axios'


export default {
  name: 'login',
  components: {
  },
  data: () => ({
    email: '',
    password: '',
    resColor: '',
    resMsg: '',
    showpwd: false
  }),
  methods: {
    async login(){

      try{
        console.log("try to login", this.email, this.password)
        const res = await axios.post('/auth/login', 
                                      { email: this.email, password: this.password })
        
        console.log("res " + "/auth/login", res)

        if(res.data.error == false){
          console.log("USER LOGIN WITH SUCCES", res.data, res)
          localStorage.setItem("access_token", res.data.token)
          localStorage.setItem("user_name", res.data.user.name)
          localStorage.setItem("user_id", res.data.user._id)
          this.$root.$emit('isLoginEvent', true, res.data.user);
          router.push('/profile');
        }else{
          console.log("USER LOGIN ERROR", res.data.errorMsg)
          this.resColor = "red--text"
          this.resMsg = res.data.errorMsg
        }
      }catch(e){
        console.log("USER LOGIN ERROR", e)
          this.resColor = "red--text"
          this.resMsg = "Your node seems to be offline (unreachable)"
      }
    }
  }
}
</script>
