<template>

<v-row>

  <v-tabs style="margin-top:-12px;" center-active show-arrows>
      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
      <v-tab v-for="(wallet, i) in walletAvailables" :key="i" 
          @click="changeWallet(wallet.value)" style="text-transform:none!important">
            <v-icon>mdi-wallet</v-icon> {{ wallet.text }}
      </v-tab>
      <v-tab :to="'/createWallet'">
            <v-icon>mdi-wallet-plus</v-icon> CREATE WALLET
      </v-tab>
  </v-tabs>

  <v-col cols="12" class="text-center">
    <small style="font-weight:200"><v-icon>mdi-wallet</v-icon>{{ currentWallet.name }}</small>

    <h1 class="wallet-account" @click="updateDataProfile()">
      <center>
        <span v-if="currentWallet.type=='current'">{{ coinChangeUni(currentWallet.account_u) }}</span> 
        <span v-if="currentWallet.type=='custom'">{{ roundUni(currentWallet.account_uni) }}</span> 
        <img alt="UNI" src="../assets/uni-logo-white.png" height=35 style="margin-left:5px">
      </center>
    </h1>

    <small style="font-weight:200" v-if="currentWallet.type=='current'">
      R = {{ relativeAmountU() }} 
      <img alt="UNI" src="../assets/uni-logo-white.png" height=15>
    </small>

    <small style="font-weight:200" v-if="currentWallet.type=='custom'">
      R = {{ relativeAmountUni() }} 
      <img alt="UNI" src="../assets/uni-logo-white.png" height=15>
    </small>

    <!-- <br>

    <small style="font-weight:200" v-if="currentWallet.type=='current'">
      {{ currentWallet.account_u }} ù
    </small> -->


    <ChartWallet :height="150"/>
  </v-col>


  <v-col cols="6" style="padding-top:0">
    <v-btn block x-large rounded class="blue--text btn-profil-index white--border" 
           :to="'/sendPayement/' + currentWallet.uid">
      <v-icon style="transform: rotate(90deg);">mdi-coins</v-icon>Send
    </v-btn>
    <!-- <br>
    <v-btn block x-large rounded class="btn-profil-index" to="/user/wallets">
      <v-icon>mdi-history </v-icon> History
    </v-btn> -->
  </v-col>

  <v-col cols="6" style="padding-top:0">
    <v-btn block x-large rounded class="green--text btn-profil-index" :to="'/receivePayement/'  + currentWallet.uid">
      <v-icon style="transform: rotate(270deg);">mdi-coins </v-icon> Receive
    </v-btn>
    <!-- <br>
    <v-btn block x-large rounded class="btn-profil-index" to="/user/stats">
      <v-icon>mdi-chart-line</v-icon> Stats
    </v-btn><br> -->

  </v-col>


  <v-col cols="12" v-if="pendingTransactions.length > 0">
      <p class="text-center" style="margin:0px">
        Pending transactions<br>
        <v-icon>mdi-history</v-icon>
      </p> 
  </v-col>

  <v-col cols="12" v-if="pendingTransactions.length > 0">
    <v-card class="mx-auto" tile >
      <v-list
        :disabled="disabled"
        :three-line="threeLine"
        :avatar="avatar"
      > 
        <v-list-item-group color="primary">
          <v-list-item v-for="(item, i) in pendingTransactions"
                      :key="i">
            <v-list-item-avatar v-if="avatar">
              <v-icon large color="blue" v-if="item.senderUid == currentWalletUid">
                  mdi-arrow-up-circle
              </v-icon>
              <v-icon large color="green" v-if="item.senderUid != currentWalletUid">
                  mdi-arrow-down-circle
              </v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <h3 style="line-height: 0.5; margin:10px 0" v-if="item.senderUid == currentWalletUid">
                <v-icon>mdi-wallet</v-icon> {{ item.receiverName }} 
                <small style="font-weight:200; font-size:0.5em">{{ item.receiverUid }}</small>
              </h3>
              <h3>
                <v-icon>mdi-wallet</v-icon> {{ item.senderName }}
                <small style="font-weight:200; font-size:0.5em">{{ item.senderUid }}</small>
              </h3>
              <h3 style="line-height: 0.5; margin-top:10px" v-if="item.senderUid != currentWalletUid">
                <v-icon>mdi-wallet</v-icon> {{ item.receiverName }}
                <small style="font-weight:200; font-size:0.5em">{{ item.receiverUid }}</small>
              </h3>
            </v-list-item-content>
            
            <v-list-item-action>
              <small style="font-weight:200;font-size:0.7em;color:rgba(113,113,113,0.8)">
                <v-icon style="color:rgba(113,113,113,0.8)" small>mdi-content-save-move-outline</v-icon>
                {{ formatedDate(item.created) }}
              </small><br>
              <h1>
                <span v-if="item.senderUid == currentWalletUid" class="blue--tex">-{{ item.amount }}</span> 
                <span v-if="item.senderUid != currentWalletUid" class="green--tex">+{{ item.amount }}</span> 
                <img alt="UNI" src="../assets/uni-logo-white.png" height=25>
              </h1>
            </v-list-item-action>
              
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
  </v-col>


  <v-col cols="12" v-if="validatedTransactions.length > 0">
    <p class="text-center" style="margin:0px">
        <v-icon>mdi-check</v-icon>
        Validated transactions 
        <v-icon>mdi-chevron-down</v-icon> 
    </p> 

    <v-row class="d-flex justify-center" v-if="currentWallet.type=='current'">
      <v-switch v-model="showUD" class="align-center" 
                color="cyan lighten-1" label="Show dividend"></v-switch>
    </v-row>
  </v-col>

  <v-col cols="12" style="padding:0px" v-if="validatedTransactions.length > 0">
    <v-card class="mx-auto" tile >
      <v-list three-line disabled style="padding:0px"> 
        <v-list-item-group color="primary">
          <v-list-item style="border-top:1px solid rgba(132, 132, 132, 0.4); min-height:unset!important"
            v-for="(item, i) in validatedTransactions"
            :key="i"
          >
            <v-list-item-avatar style="padding-top:0px;" v-if="item.senderName != 'DUBank'">
              <!-- <v-img :src="item.avatar"></v-img> -->
              <v-icon large color="blue" v-if="item.senderUid == currentWalletUid" 
                      style="transform: rotate(90deg); margin:40px 10px 0 0;">mdi-coins</v-icon>
              <v-icon large color="green" v-if="item.senderUid != currentWalletUid" 
                      style="transform: rotate(270deg); margin:40px 10px 0 0;">mdi-coins</v-icon>
            </v-list-item-avatar>

            <v-list-item-content v-if="item.senderName != 'DUBank'">
              <h3 style="line-height: 0.5; margin:10px 0" v-if="item.senderUid == currentWalletUid">
                <v-icon>mdi-wallet</v-icon> {{ item.receiverName }} 
                <small style="font-weight:200; font-size:0.5em">{{ item.receiverUid }}</small>
              </h3>
              <h3>
                <v-icon>mdi-wallet</v-icon> {{ item.senderName }}
                <small style="font-weight:200; font-size:0.5em">{{ item.senderUid }}</small>
              </h3>
              <h3 style="line-height: 0.5; margin-top:10px" v-if="item.senderUid != currentWalletUid">
                <v-icon>mdi-wallet</v-icon> {{ item.receiverName }}
                <small style="font-weight:200; font-size:0.5em">{{ item.receiverUid }}</small>
              </h3>
            </v-list-item-content>
            
            <v-list-item-action v-if="item.senderName != 'DUBank'">
              <small style="font-weight:200;font-size:0.7em;color:rgba(113,113,113,0.8)" v-if="item.created">
                <v-icon style="color:rgba(113,113,113,0.8)" small>mdi-content-save-move-outline</v-icon> 
                {{ formatedDate(item.created) }}
              </small>
              <small style="font-weight:200;font-size:0.7em;color:rgba(113,113,113,0.8)" v-if="item.validated">
                <v-icon style="color:rgba(113,113,113,0.8)" small>mdi-check</v-icon> 
                {{ formatedDate(item.validated) }}
              </small>
              <h1>
                <span v-if="item.senderUid == currentWalletUid" class="blue--tex">-{{ item.amount }}</span> 
                <span v-if="item.senderUid != currentWalletUid" class="green--tex">+{{ item.amount }}</span> 
                <img alt="UNI" src="../assets/uni-logo-white.png" height=25>
              </h1>
            </v-list-item-action>

            <v-list-item-content v-if="item.senderName == 'DUBank' && item.label != 'Wallet initialisation'"
                                :class="showUD ? 'unicase show' : 'unicase'" :title='uwdiff(i) + "uni"'>
              <v-row no-gutters>
                <v-col cols="8">
                  <small style="line-height: 0.5; margin:0px 5px;">
                    <v-icon small>mdi-database-plus</v-icon> UD : 
                      <span>{{ roundUni(uwdiff(i)) }}</span> 
                    <img alt="UNI" src="../assets/uni-logo-white.png" height=13>
                  </small>
                </v-col>
                <v-col cols="4" class="text-right">
                  <small style="line-height: 0.5; font-size:0.8em; margin:0px 5px; font-weight:200">
                    {{ formatedDate(item.created) }}
                  </small>
                </v-col>
              </v-row>
            </v-list-item-content>
            
            <v-list-item-content v-if="item.label == 'Wallet initialisation'">
              <small style="line-height: 0.5; margin:0px 0; font-weight:200">
                <v-icon small>mdi-database</v-icon> Wallet initialisation
              </small>
            </v-list-item-content>
            <v-list-item-action v-if="item.label == 'Wallet initialisation'">
              <h4>
                <span>{{ roundUni(item.receiverUni) }}</span> 
                <img alt="UNI" src="../assets/uni-logo-white.png" height=15>
              </h4>
            </v-list-item-action>

          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
  </v-col>
<!-- 
<v-footer color="primary" app>
  <span class="white--text">{{ user.name }}</span>
  <v-spacer/>
  <span>{{ user.wallets[0].account }} Uni</span>
</v-footer> -->
</v-row>
</template>

<style>
  .btn-profil-index{ 
    height: unset!important;
  }

  .btn-profil-index span{ 
    /* display: inline-grid; */
    padding: 5px;
  }
  .btn-profil-index i{ 
    padding: 3px;
  }

  .btn-profil-index span .v-icon{
  }
  .wallet-account{
    font-size: 2.2em;
  }
  .wallet-account small{
    font-size: 0.4em;
  }
  .unicase{
    height: 1px;
    padding: 0px;
    background: #0097a7;
    margin: 1px;
    border-radius:15px;
  }
  .unicase.show{
    height: unset;
    padding: 5px;
  }
</style>
<script>

import axios from 'axios'
import router from '../router/router'

import ChartWallet from '@/components/ChartWallet.vue'

//const baseUrl = localStorage.getItem("baseUrl")

export default {
  name: 'auth',
  components: {
    ChartWallet
  },
  data: () => ({
    user: { name : "", wallets : [{ account: "~", "name" : '~' }] },
    walletAvailables: [],
    currentWalletUid: null,
    currentWallet: { account_u: "~", "name" : '~' },
    disabled: false,
    dense: false,
    twoLine: false,
    threeLine: true,
    shaped: false,
    flat: false,
    subheader: false,
    inactive: false,
    subGroup: false,
    nav: false,
    avatar: true,
    rounded: true,
    showUD: false,

    pendingTransactions: [],
    validatedTransactions: [],
  }),
  async mounted(){
      this.user.name = localStorage.getItem("user_name") != null ? 
                       localStorage.getItem("user_name") : 
                       ", you are not loggin"
      this.updateDataProfile()

      this.$root.$on('updateDataProfile', () => { 
        this.updateDataProfile()
      })
  },
  methods: {
    async updateDataProfile(){
      try{
        axios.get('/user/profil')
            .then( res => {
                this.user = res.data.user
                //console.log("USER ?", user)
                //.log("USER wallets ?", user.pendingTransactions)
                this.walletAvailables = []
                this.user.wallets.forEach(wallet => {
                  wallet.pendingTransactions.reverse()
                  wallet.validatedTransactions.reverse()
                  
                  var name = wallet.name// == "current" ? "Compte courant" : wallet.name
                  this.walletAvailables.push({ text: name, value: wallet.uid })
                });

                if(this.currentWalletUid != null){
                  this.user.wallets.forEach(wallet => {
                    if(wallet.uid == this.currentWalletUid)
                      this.currentWallet = wallet
                  })
                }else{
                  this.currentWallet = this.user.wallets[0]
                }

                this.currentWalletUid = this.currentWallet.uid
                this.pendingTransactions = this.currentWallet.pendingTransactions
                this.validatedTransactions = this.currentWallet.validatedTransactions
                
                console.log(">>> updateChart", this.currentWallet.account_u)
                this.$root.$emit('updateChart', this.currentWallet)

                localStorage.setItem("UDValue", res.data.UDValue)                            
            })        
      }catch(e){
        router.push('/');
      }
    },
    changeWallet(uid){
      if(uid != null) this.currentWalletUid = uid
      console.log("changeWallet", this.currentWallet.uid, uid)
      this.user.wallets.forEach(wallet => {
        if(wallet.uid == this.currentWalletUid)
          this.currentWallet = wallet
          this.pendingTransactions = this.currentWallet.pendingTransactions
          this.validatedTransactions = this.currentWallet.validatedTransactions
      });
      
      this.$root.$emit('updateChart', this.currentWallet)
    },
    roundUni(uni){ if(uni == "~") return uni
      var pp = uni.toString().indexOf(".")
      //console.log("pp", pp)
      if(pp == -1) return uni
      //console.log(0, uni.toString().length, pp + 1)
      return uni.toString().substr(0, 7 + pp)
    },
    coinChangeUni: function(coin){ if(coin == "~") return coin
        var UniVal = coin / localStorage.getItem("UDValue") //this.instance.UDValue
        return this.roundUni(UniVal)
    },
    formatedDate: function(adate){ if(adate == null) return adate
      var date = new Date(adate)
      //FR date
      return date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear() + " " + 
            date.getHours() + "h" + (date.getMinutes()<10?'0':'') + date.getMinutes()
    },
    relativeAmountU: function(){
        var rAmount = 0
        this.pendingTransactions.forEach(transaction => {
          if(transaction.senderUid == this.currentWalletUid) rAmount -= transaction.amount
          if(transaction.senderUid != this.currentWalletUid) rAmount += transaction.amount
        })
        //console.log("relative amount u", rAmount, this.currentWallet.account_u, parseFloat(localStorage.getItem("UDValue")))
        var cAmount = this.currentWallet.account_u / parseFloat(localStorage.getItem("UDValue"))
        return this.roundUni(cAmount + rAmount)
    },
    relativeAmountUni: function(){
        var rAmount = 0
        this.pendingTransactions.forEach(transaction => {
          if(transaction.senderUid == this.currentWalletUid) rAmount -= transaction.amount
          if(transaction.senderUid != this.currentWalletUid) rAmount += transaction.amount
        })
        //console.log("relative amount uni", rAmount, this.currentWallet.account_u, parseFloat(localStorage.getItem("UDValue")))
        return this.roundUni(this.currentWallet.account_uni + rAmount)
    },
    uwdiff: function(i){
      //console.log("length", this.validatedTransactions.length, i)
      if(i >= this.validatedTransactions.length-1) return "*"
      var lastUni = this.validatedTransactions[i+1].receiverUid == this.currentWalletUid ?
                     this.validatedTransactions[i+1].receiverUni :
                      this.validatedTransactions[i+1].senderUni

      //console.log("debug UD", this.validatedTransactions[i].receiverUni, lastUni)
      var res = this.roundUni(this.validatedTransactions[i].receiverUni) - this.roundUni(lastUni)
      res = (res > 0) ? "+" + res : res
      return res
    }
  }
}
</script>
