<template>
<div>
    <v-card class="mx-auto">
        <v-col cols="12" class="text-center"><br>
            <h3 class="card-lbl">Receive money<br><v-icon>mdi-chevron-down</v-icon></h3>
            <v-btn @click="showHelp=!showHelp">How it works ?</v-btn><br><br>
            <v-alert class="text-left"
                border="bottom"
                color="teal"
                elevation="2" v-if="showHelp"
                >
                <small>
                    If somebody want to send money to this wallet, he need to know the name of this wallet, or his short-code.<br><br>
                    So, to allow somebody to send money to this wallet, you can use any of this 3 options :<br><br>
                    1 - Give the name of this wallet<br>
                    2 - OR : Give the short-code of this wallet<br>
                    3 - OR : Use the QR-CODE system to connect easily to any other UNI wallet
                </small>
            </v-alert>

            <br><hr><br>

            <h5>Wallet name</h5>
            <h2>{{ toWallet.name }}</h2>

            <br><hr><br>

            <h5>Short-code</h5>
            <h2>HGT-RET-054</h2>

            <br><hr><br>
                <v-icon large>mdi-qrcode-scan</v-icon><br>
                QR-CODE
            <br><br>

            <h5>Share your identity<br>by showing this the QR-code<br>to the sender of the transaction.</h5><br>
            <vue-qrcode v-if="QRJsonValue != null" :value="QRJsonValue" :options="{ width: '300', color : { dark:'#0097A7' } }"></vue-qrcode><br><br>
        </v-col>
    </v-card>
</div>
</template>


<script>

import axios from 'axios'
import router from '../router/router'
//import { QrcodeStream } from 'vue-qrcode-reader'
 
import VueQrcode from '@chenfengyuan/vue-qrcode';

export default {
  name: 'auth',
  components: {    
    VueQrcode,
    },
  data: () => ({
    toWalletUid: null,
    QRJsonValue: null,
    toWallet: null,
    showHelp:false
  }),
  async mounted(){
      this.toWalletUid = this.$route.params.toWalletUid

      try{
        await axios.get('/user/profil')
                    .then(res => {
                        //get user data
                        this.user = res.data.user
                        
                        //search for name & amout of the sender wallet (cf: url param toWalletUid)
                        this.user.wallets.forEach(wallet => {
                            console.log("UID ?", wallet.uid, this.$route.params.toWalletUid)
                            //if found : save name & amount
                            if(wallet.uid == this.$route.params.toWalletUid){
                                this.toWallet = wallet
                                this.QRJsonValue = JSON.stringify({ name: wallet.name, uid: wallet.uid, type: wallet.type, app: "UNI" })
                                console.log("QRJsonValue", this.QRJsonValue)
                               
                            }/*else{ 
                                
                            }*/
                        });
                        
                    })
      }catch(e){
        console.log("error /user/profil", e)
        router.push('/');
      }
  },
  methods: {
    
  },
  computed: {
      
  }
}
</script>
