<template>
  <v-card class="mx-auto">
       
    <v-col cols="12">
      <v-card-title>Create your account</v-card-title> 
      <v-card-subtitle>Create your account now for free and start earning money right tomorrow !</v-card-subtitle>
      <v-form @submit.prevent="register">
        <v-text-field filled v-model="name" id="name" label="Username" :rules="[rules.required, rules.minName]"></v-text-field>
        <v-text-field filled v-model="email" id="email" label="Email" :rules="[rules.required]"></v-text-field>
        <v-text-field filled v-model="password" id="password" label="Password" 
                      :append-icon="showpwd ? 'mdi-eye' : 'mdi-eye-off'"
                      :rules="[rules.required, rules.min]"
                      :type="showpwd ? 'text' : 'password'"
                      hint="At least 8 characters"
                      counter
                      @click:append="showpwd = !showpwd"
        ></v-text-field>
      </v-form>
    </v-col>
        
    <v-card-actions>
      <v-spacer/>
        <v-btn class="white--text" color="secondary" @click="register" style="min-width:100%">
          <v-icon>mdi-login</v-icon> Register
        </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>

import router from '../router/router'
import axios from 'axios'

const baseUrl = localStorage.getItem("baseUrl")

export default {
  name: 'register',
  data: () => ({
    name: '',
    email: '',
    password: '',
    showpwd: false,
    rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          minName: v => v.length >= 3 || 'Min 3 characters',
          emailMatch: () => ('The email and password you entered don\'t match'),
        },
  }),
  methods: {
    async register(){
      console.log("try to register", this.name, this.email, this.password)
      const res = await axios.post(baseUrl+'/auth/save', 
                                    { name: this.name,
                                      email: this.email,
                                      password: this.password
                                    })
      console.log("res /auth/save", res)
      if(res.data.error == false){
        console.log("USER SAVED WITH SUCCES", res.data)
        router.push('/login');
      }
    }
  }
}
</script>
