<template>
  <div>
    <!-- MENU LEFT -->
    <v-navigation-drawer v-model="drawer" app>

      <v-list rounded>
          <center><img alt="UNI" src="../../assets/uni-logo-white.png" height=100></center>
          <v-list-item v-for="item in itemsDrawer" :key="item.to" link :to="item.to">
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <!-- TOP BAR -->
    <v-app-bar app color="primary" dark>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

        <v-btn icon to="/" style="margin-right:10px">
          <img alt="UNI" src="../../assets/uni-logo-white.png" height=40>
        </v-btn>

        <v-toolbar-title></v-toolbar-title>

        <v-spacer/>

        <v-btn v-show ="user.isAdmin" outlined to="/admin" style="margin-right:10px; text-transform:none;">
          <v-icon>mdi-account-tie</v-icon>
        </v-btn>

        <v-btn v-show="isLogin" outlined to="/profile" style="margin-right:10px; text-transform:none;">
          <v-icon>mdi-account-circle</v-icon> {{ user.name }}
        </v-btn>

        <div v-show ="!isLogin && baseUrl != null">
          <v-btn icon to="/register">
              <v-icon>mdi-plus</v-icon>
          </v-btn>
          <v-btn icon to="/login">
              <v-icon>mdi-login</v-icon>
          </v-btn>
        </div>
        <div v-show="isLogin">
          <v-btn icon @click="logout">
              <v-icon>mdi-logout</v-icon>
          </v-btn>
        </div>
    </v-app-bar>
  </div>
</template>

<script>

import axios from 'axios'
import router from '../../router/router'
import config from '../../config/default'

export default {
  name: 'menu-left',

  data: () => ({
    drawer: null,
    isLogin: false,
    user: {},
    username: '',
    isAdmin: false,
    baseUrl: null,
    itemsDrawer: [
      { name: 'Home',     to: '/',        icon: 'mdi-home' },
      { name: 'About',    to: '/about',   icon: 'mdi-help-circle' },
      { name: 'My wallet',to: '/profile', icon: 'mdi-contact-mail' },
    ]
  }),
  
  mounted: async function(){

    this.name = localStorage.getItem("name")
    this.baseUrl = localStorage.getItem("baseUrl")
    this.baseUrl = (this.baseUrl == null || this.baseUrl == "") ? config.root_node.url + ":" + config.root_node.port : this.baseUrl
    
    axios.defaults.baseURL = this.baseUrl 
    localStorage.setItem("baseUrl", this.baseUrl)
   
    this.isLogin = (localStorage.getItem('access_token') == null) ? false : true

    if(this.isLogin){
      try{
        await axios.get('/user/profil')
                        .then(res => {
                            this.user = res.data.user
                            this.isAdmin = res.data.user.isAdmin
                        }).catch( res => { console.log("error login", res)
                          router.push('/');
                        })
      }catch(e){
        console.log("error login", e)
        router.push('/');
      }
    }else{
       router.push('/');
    }
    
    this.$root.$on('isLoginEvent', (bool, user) => { 
      this.isLogin = bool;
      if(user != null) this.user = user;
    })
    
  },
  
  methods: {
    logout(){
      localStorage.removeItem('access_token')
      localStorage.removeItem('user_name')
      this.isLogin = false
      this.user = {}
      this.isAdmin = false
      this.username = ""
      router.push('/');
    },
  },
  
  
};
</script>
