<template>
<div>
  <v-row class="d-flex">

    <v-col cols="12">
      <v-btn to="/admin/network" class="white--text" color="purple" @click="getInstanceInfo()" style="min-width:100%">
        <v-icon>mdi-arrow-decision-outline</v-icon> 
          Node NETWORK
        </v-btn><br><br>
      <v-btn class="white--text" color="primary" @click="getInstanceInfo()" style="min-width:100%">
        <v-icon>mdi-information</v-icon> 
        Update Infos
      </v-btn>
    </v-col>

    <v-col cols="12" md="6" sm="6">
      <v-alert border="top" colored-border color="blue" elevation="2">
          <h1><v-icon>mdi-contacts</v-icon> {{ instance.name }}</h1>
          <small>{{ instance.url + ":" + instance.port }} - {{ apiEnv }}</small>  
          <h2>{{ coinChangeUni(instance.moneyMassGlobal) }} 
            <img alt="UNI" src="../../assets/uni-logo-white.png" height=30>
          </h2> 
      </v-alert>
    </v-col>

    <v-col cols="12" md="6" sm="6">
      <v-alert border="top" colored-border color="green" elevation="2">
          <v-icon>mdi-home-analytics</v-icon>     
          <small>MM Global : {{ roundUni(instance.moneyMassGlobal) }} ù</small><br>
          <v-icon>mdi-home-analytics</v-icon>     
          <small>MM Local : {{ roundUni(instance.moneyMassLocal) }} ù</small><br>
          <v-icon>mdi-home-analytics</v-icon>     
          <small>Nb Users Global : {{ roundUni(instance.nbUserGlobal) }}</small><br>
          <v-icon>mdi-home-analytics</v-icon>     
          <small>UD : {{ roundUni(instance.UDValue) }} ù = 1 ùni</small>
      </v-alert>
    </v-col>

    <v-col cols="12" md="6" sm="6">
      <v-alert border="top" colored-border color="yellow" elevation="2">
          <small>
              <v-icon>mdi-currency-eur</v-icon> 
              Uni/Euro : 1 Uni == {{ roundUni(UniEuro) }}€
          </small><br>
          <small>
            > {{ roundUni(UniEuro) }}€ * {{ roundUni(average) }} days = 
            {{ roundUni(UniEuro * average)  }}€/~month
          </small><br>
          <small>
            > 1€ = {{ roundUni(1 / roundUni(UniEuro)) }} ùni
          </small>
      </v-alert>
    </v-col>

    <v-col cols="12" md="6" sm="6">
      <v-alert border="top" colored-border color="orange" elevation="2">
          <h3>~ Average <br>{{ roundUni(instance.moneyMassGlobal / nbUsers / instance.UDValue) }} 
              <small><small>ùni / current wallet</small></small>
          </h3>
      </v-alert>
    </v-col>

    <v-col cols="12" sm="6">
          <v-text-field
            v-model="convertUni"
            :append-outer-icon="'mdi-share'"
            filled
            clear-icon="mdi-close-circle"
            clearable
            label="ùni"
            type="text"
            @click:append-outer="convertUniEuro"
          ></v-text-field>
    </v-col>

    <v-col cols="12" sm="6">
          <v-text-field
            v-model="convertEuro"
            :append-outer-icon="'mdi-share'"
            filled
            clear-icon="mdi-close-circle"
            clearable
            label="€uro"
            type="text"
            @click:append-outer="convertEuroUni"
          ></v-text-field>
    </v-col>

  </v-row>

  <v-row class="d-flex" v-if="apiEnv == 'dev'">
  
    <v-col cols="12" sm="12">
      <v-card class="mx-auto" v-if="instance._id != null">
        <v-card-title>
          Money Mass Evolution {{ nbDays }} Days 
        </v-card-title>
        <hr>
        <div class="card-body padding-10">
          <Chart :height="200"/>
          <br><hr>
        </div>

        <v-card-actions style="padding:5px 20px">
          <v-switch v-model="runninUDW" class="ma-2" color="green" label="Run away"></v-switch>
          <v-spacer></v-spacer>
          <v-btn class="white--text" color="primary" @click="startUDW(false)" style="min-width:30%">
            <v-icon>mdi-stop</v-icon> 
            Stop UD
          </v-btn>
          <v-btn class="white--text" color="secondary" @click="startUDW(true)" style="min-width:30%">
            <v-icon>mdi-play</v-icon> 
            Run UD
          </v-btn>
        </v-card-actions>
      </v-card>

    </v-col>

    <v-col cols="12" sm="6">
      <v-card class="mx-auto" v-if="instance._id != null">
        <v-col cols="12">
          <v-card-title>Reboot your instance</v-card-title> 
          <v-card-subtitle>
                Clear all data from data base, and setup a new instance ready for new tests
          </v-card-subtitle>
          <v-form @submit.prevent="rebootInstance">
            <v-text-field filled v-model="rebootInstanceName" id="name" label="Instance's name ?"></v-text-field>
          </v-form>
            <v-btn class="white--text" color="orange lighten-2"  @click="rebootInstance" style="min-width:100%">
              <v-icon>mdi-check</v-icon> Reboot
            </v-btn>
        </v-col>
      </v-card>
    </v-col>

    <v-col cols="12" sm="6">
      <v-card class="mx-auto" v-if="instance._id != null">
        <v-col cols="12">
          <v-card-title>Beta-test + add users</v-card-title> 
          <v-card-subtitle>
                Let's add some anonymous users, to test the system
          </v-card-subtitle>
          <v-form @submit.prevent="createInstance">
            <v-text-field filled v-model="nbUserToCreate" id="name" label="How many user do you want to create ?"></v-text-field>
          </v-form>
            <v-btn class="white--text" color="purple lighten-3"  @click="addUsersDev" style="min-width:100%">
              <v-icon>mdi-account-plus-outline</v-icon> Create users
            </v-btn>
        </v-col>
      </v-card>
    </v-col>

  </v-row>

  <v-row class="d-flex"> 

    <v-row class="col-12">
      
      <v-col cols="12">
        <v-btn class="white--text" color="primary" @click="updateWalletsData" style="min-width:100%">
          <v-icon>mdi-history</v-icon> 
          Update Wallets
        </v-btn>
      </v-col>
      
      <v-col cols="12" lg="4" md="4" sm="6" v-for="(wallet, i) in walletsCurrent" :key="i">
        <v-card class="mx-auto" style="margin-top:5px" v-if="i<100">
          <v-col cols="12">
            <v-card-title>{{ wallet.name }}</v-card-title> 
            <v-card-subtitle>
                  {{ wallet.uid }}
            </v-card-subtitle>
            <small v-if="wallet.type=='current'">{{ roundUni(wallet.account_u) }} ù</small><br>
            <small v-if="wallet.type=='current'">{{ coinChangeUni(wallet.account_u) }} ùni</small><br>
            <small v-if="wallet.type=='custom'">{{ roundUni(wallet.account_uni) }} ùni</small> 
          </v-col>
        </v-card>
      </v-col>  

    </v-row>  

    <v-col cols="12" sm="6">
    </v-col>  

  </v-row>

</div>
</template>

<script>

import Chart from '@/components/admin/Chart.vue'

import axios from 'axios'
import router from '../../router/router'


export default {
  name: 'admin-dashboard',
  components: {
    Chart
  },
  data: () => ({
    instance: { name: '' },
    rebootInstanceName: '',
    nbUsers: 0,
    nbUserToCreate: 10,
    UDWtimer: null,
    lineChart: null,
    runninUDW: false,
    walletsCurrent: [],
    walletsCustom: [],
    convertUni: 0,
    convertEuro: 0,
    apiEnv: 'dev',
    rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        minName: v => v.length >= 3 || 'Min 3 characters',
    },
  }),
  async mounted(){

      const baseUrl = localStorage.getItem("baseUrl")
      console.log("BASEURL", baseUrl)
      axios.defaults.baseURL = baseUrl != null ? baseUrl : ""

      this.getInstanceInfo()
      this.updateWalletsData()
      //this.initChart()
      /*this.user.name = localStorage.getItem("user_name") != null ? 
                       localStorage.getItem("user_name") : 
                       ", you are not loggin"*/

      
  },
  methods: {
    convertUniEuro: function(){
      this.convertEuro = this.roundUni(this.convertUni * this.UniEuro)
    },
    convertEuroUni: function(){
      this.convertUni = this.roundUni(this.convertEuro * (1/this.UniEuro))      
    },
    coinChangeUni: function(coin){
        var UniVal = coin / this.instance.UDValue
        return this.roundUni(UniVal)
    },
    roundUni(uni){ if(uni == null) return null
      var pp = uni.toString().indexOf(".")
      if(pp == -1) return uni
      return uni.toString().substr(0, 7 + pp)
    },
    async getInstanceInfo(){
        try{ 
            await axios.get('/admin/instance-info')
                            .then(instance => {
                                //console.log("INFO INSTANCE ?", instance.data)
                                this.instance = instance.data.instance
                                this.nbUsers = instance.data.nbUsers
                                this.nbDays = instance.data.nbDays
                                this.apiEnv = instance.data.env
                                localStorage.setItem("UDValue", this.instance.UDValue)
                            }).catch(res => {
                              console.log(res)
                              router.push('/profile');
                            })
        }catch(e){
            console.log("error /admin/instance-info", e)
            router.push('/user/profil');
        }
    },
    async rebootInstance(){
        try{
            await axios.post('/instance/init', 
                              { name : this.rebootInstanceName,
                                url: localStorage.getItem("url"),
                                port: localStorage.getItem("port") })
                            .then(res => {
                                console.log("success from /instance/init", this.rebootInstanceName, res.data)
                                this.instance = res.data.instance
                                localStorage.setItem('access_token', res.data.admin_access_token)
                                this.$root.$emit('rebootChart', this.instance.moneyMassLocal, "reboot");
                                let that = this
                                setTimeout(function(){ that.updateWalletsData() }, 1000)
                            })
        }catch(e){
            router.push('/admin');
        }
    },
    async addUsersDev(){
        try{
            await axios.post('/admin/add-users-dev',
                            { nbUsers: this.nbUserToCreate })
                            .then(res => {
                                console.log("ADD USERS DEV ?", res.data)
                                this.updateWalletsData()
                            })
        }catch(e){
            router.push('/admin');
        }
    },
    async updateWalletsData(){
        try{
            await axios.post('/admin/get-wallets-data')
                            .then(res => {
                                console.log("admin/get-wallets-data", res.data)
                               if(res.data.error == false){
                                   this.walletsCurrent = res.data.walletsCurrent
                                   this.walletsCustom = res.data.walletsCustom
                               }else{
                                   console.log("admin/get-wallets-data ERROR")
                               }
                            })
        }catch(e){
            console.log("admin/get-wallets-data ERROR")
            router.push('/admin');
        }
    },
    startUDW(bool){ console.log("startUDW", bool)
        if(!bool) this.runninUDW = bool;
        else this.runUDW()
    },
    async runUDW(){
        try{
            console.log("/admin/work-ud start")
            await axios.post('/admin/work-ud')
                            .then(res => {
                                console.log("/admin/work-ud succes", res.data)
                                this.updateWalletsData()
                                this.getInstanceInfo()
                                this.instance = res.data.instance
                                this.nbUsers = res.data.nbUsers
                                
                                localStorage.setItem("UDValue", this.instance.UDValue)
                                this.$root.$emit('addToChart', this.instance.moneyMassLocal, res.data.date);
                                if(this.runninUDW) this.runUDW()
                                
                            })
        }catch(e){
            console.log("error /admin/work-ud", e)
            router.push('/admin');
        }
    },
    
  },

  computed: {
      UniEuro: function(){
          var euroByMonth = 1500
          var euroByDay = euroByMonth / this.average
          console.log("UniEuro", euroByMonth, this.average, euroByDay)
          return euroByDay// (this.instance.UDValue 
      },
      average: function(){
          return this.roundUni(this.instance.moneyMassGlobal / this.nbUsers / this.instance.UDValue)
      },

  },
}
</script>
