<template>
    <div>
        
  <v-row class="d-flex">

    
    <v-col cols="12" md="12" sm="12">
      <l-map ref="nodeMap"  :zoom="zoom"  :maxZoom="11" :center="mapCenter"  
              style="width:100%;height:300px;margin-bottom:15px;" 
              >
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
          <l-marker v-for="(instance, i) in network" :key='i' :lat-lng="[instance.lat, instance.lng]">
              <l-popup class="" open="true">
                <h2>
                    <v-icon color="black">mdi-arrow-decision-outline</v-icon> 
                    {{ instance.name }} - <small>{{ instance.city }} {{ instance.state }}</small>
                </h2><br><hr><br>
                <h4>{{ instance.url }}:{{ instance.port }}</h4>
                <h4>MML : {{ instance.moneyMassLocal }}</h4>
                <h4>nbUsers : {{ instance.nbUserGlobal }}</h4>
                <h4>UDV : {{ instance.UDValue }}</h4>
              </l-popup>
          </l-marker>
      </l-map>
    
      <v-data-table
          v-model="selected"
          :headers="headers"
          :items="network"
          :single-select="singleSelect"
          item-key="name"
          class="elevation-1"
      ></v-data-table>
    </v-col>
  </v-row>

  <v-row class="d-flex flex-row-reverse">
    <v-btn @click="updateNetwork">Update network</v-btn>
  </v-row>

    </div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";
</style>


<script>

// import Chart from '@/components/admin/Chart.vue'

import axios from 'axios'
//import router from '../../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

export default {
  name: 'admin-dashboard',
  components: { LMap, LTileLayer, LMarker, LPopup },
  data: () => ({
    instance: { name: '' },
    nbUsers: 0,
    lineChart: null,
    convertUni: 0,
    convertEuro: 0,
    apiEnv: 'dev',
    network: [],
    rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        minName: v => v.length >= 3 || 'Min 3 characters',
    },

    /* TABLE */
    singleSelect: false,
    selected: [],
    headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name',
          },
          { text: 'URL', value: 'url' },
          { text: 'Port', value: 'port' },
          { text: 'City', value: 'city' },
          { text: 'MML', value: 'moneyMassLocal' },
          { text: 'nbUsers', value: 'nbUserGlobal' },
          { text: 'UDV', value: 'UDValue' },
        ],

    /* MAP */
    showMap: false,
    zoom:5,
    mapCenter: L.latLng(47.413220, -1.219482),
    url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
    attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    popupContent: "ok",

  }),
  async mounted(){

      const baseUrl = localStorage.getItem("baseUrl")
      console.log("BASEURL", baseUrl)
      axios.defaults.baseURL = baseUrl != null ? baseUrl : ""

      //init icon map
      delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })
      
      this.getNetwork()
      //this.updateWalletsData()
      

      
  },
  methods: {
    convertUniEuro: function(){
      this.convertEuro = this.roundUni(this.convertUni * this.UniEuro)
    },
    convertEuroUni: function(){
      this.convertUni = this.roundUni(this.convertEuro * (1/this.UniEuro))      
    },
    coinChangeUni: function(coin){
        var UniVal = coin / this.instance.UDValue
        return this.roundUni(UniVal)
    },
    roundUni(uni){ if(uni == null) return null
      var pp = uni.toString().indexOf(".")
      if(pp == -1) return uni
      return uni.toString().substr(0, 7 + pp)
    },
    async getNetwork(){
        try{ 
            await axios.get('/instance/get-network')
                            .then(res => {
                                console.log("instance/get-network", res.data)
                                this.network = res.data.network
                            })
        }catch(e){
            console.log("error /admin/instance-info", e)
            //router.push('/admin');
        }
    },
    async updateNetwork(){
      try{ 
            await axios.get('/admin/update-network')
                            .then(res => {
                                console.log("instance/update-network", res.data)
                                this.network = res.data.network
                                this.network.forEach((node, i) => {
                                  this.network[i].moneyMassLocal = this.roundUni(node.moneyMassLocal)
                                  this.network[i].UDValue = this.roundUni(node.UDValue)
                                });
                            })
        }catch(e){
            console.log("error /admin/instance-info", e)
            //router.push('/admin');
        }
    }
  },

  computed: {
      UniEuro: function(){
          var euroByMonth = 1500
          var euroByDay = euroByMonth / this.average
          console.log("UniEuro", euroByMonth, this.average, euroByDay)
          return euroByDay// (this.instance.UDValue 
      },
      average: function(){
          return this.roundUni(this.instance.moneyMassGlobal / this.nbUsers / this.instance.UDValue)
      },

  },
}
</script>