<template>
  <v-app id="inspire">
    
    <MenuLeftTopBar/>

    <v-content>
      <v-container>

        <router-view/>
  
      </v-container>
    </v-content>

  <v-footer color="primary" >
    <small class="white--text">
      <v-icon small>mdi-arrow-decision-outline</v-icon> {{ name }} - {{ baseUrl }}
    </small>
    <v-spacer/>
    <!-- <v-btn @click="snackbarNotif=!snackbarNotif">test</v-btn> -->
  </v-footer>

  <v-snackbar v-model="snackbarNotif" top :color="snackbarColor">
    {{ snackbarNotifText }}
    <v-spacer/>
    <v-btn darken @click="snackbarNotif = false" color="green darken-3"><v-icon>mdi-check</v-icon></v-btn>
  </v-snackbar>

  <audio :src="soundNotifValidated" preload="auto" id="soundNotifValidated">
    <p>Your browser does not support the <code>audio</code> element.</p>
  </audio>
  <audio :src="soundNotifPending" preload="auto" id="soundNotifPending">
    <p>Your browser does not support the <code>audio</code> element.</p>
  </audio>

  </v-app>
</template>
<style>
    .v-application, .v-btn{
      font-family: 'Raleway', sans-serif;
      font-weight: 800 !important;
      letter-spacing: unset !important;
    }
  </style>
<script>

import MenuLeftTopBar from '@/components/main-layout/MenuLeftTopBar.vue'
//import router from './router/router'
import axios from 'axios'
import config from './config/default'

import io from 'socket.io-client';

var socket = io(localStorage.getItem("url") + ":" + localStorage.getItem("portSocket")) //8080");

//import openSocket from 'socket.io-client';
//const socket = openSocket("localhost:3000");

export default {
  name: 'App',
  
  components: {
    MenuLeftTopBar
  },

  mounted: function(){
    this.name = localStorage.getItem("name")
    this.baseUrl = localStorage.getItem("baseUrl")
    this.baseUrl = (this.baseUrl == null || this.baseUrl == "") ? config.root_node.url + ":" + config.root_node.port : this.baseUrl
    
    axios.defaults.baseURL = this.baseUrl 
    localStorage.setItem("baseUrl", this.baseUrl)
  
    this.$root.$on('setBaseUrl', (baseUrl, name) => { 
      console.log('setBaseUrl', baseUrl)
      this.baseUrl = baseUrl;
      this.name = name;
    })
  },
  created: function(){
    window.onbeforeunload = function(){
        var userId = localStorage.getItem("user_id")
        let UID = this.name + ":" + userId
        socket.emit('leave', { UID: UID });
    }

    socket.on('conf-connexion', (data) => {
        console.log("you are connected to the socket server", data)
        var userId = localStorage.getItem("user_id")
        let UID = this.name + ":" + userId
        console.log("userID ?", userId)
        if(userId != null) socket.emit('join', { UID: UID })

    });

    socket.on('receive-transaction-pending', (data) => {
        console.log("you receive a pending transaction !", data)
        this.snackbarNotifText = "New pending transaction : " + data.amountUni + " ùni from " + data.senderName
        this.snackbarColor = 'blue'
        this.snackbarNotif = true
        this.playSound('soundNotifPending')
        this.$root.$emit('updateDataProfile');
    });
    socket.on('receive-transaction', (data) => {
        console.log("you receive a transaction !", data)
        this.snackbarNotifText = "You received " + data.amountUni + " ùni from " + data.senderName
        this.snackbarColor = 'green'
        this.snackbarNotif = true
        this.playSound('soundNotifValidated')
        this.$root.$emit('updateDataProfile');
    });

    socket.on('sent-transaction-pending', (data) => {
        console.log("your pending transaction has been sent !", data)
        this.snackbarNotifText = "Your transaction has been registred with success : " + data.amountUni + " ùni to " + data.receiverName
        this.snackbarColor = 'blue'
        this.snackbarNotif = true
        this.playSound('soundNotifPending')
        this.$root.$emit('updateDataProfile');
    });

    socket.on('sent-transaction', (data) => {
        console.log("your transaction has been sent !", data)
        this.snackbarNotifText = "Your transaction has been sent : " + data.amountUni + " ùni to " + data.receiverName
        this.snackbarColor = 'green'
        this.snackbarNotif = true
        this.playSound('soundNotifValidated')
        this.$root.$emit('updateDataProfile');
    });


    
  },

  data: () => ({
    baseUrl: "",
    name: "",
    snackbarNotif: false,
    snackbarNotifText: "",
    snackbarColor: 'green',
    soundNotifPending: 'sounds/sound-notification.wav',
    soundNotifValidated: 'sounds/sound-message.mp3',
  }),

  methods: {
    playSound: function(soundId){ 
      console.log("playSound", this.soundNotif)
      let audio = document.getElementById(soundId)
      audio.volume = 0.2
      audio.play()
    }
  },
  
};
</script>
